@model NguyenTuanAnh2022201.NTA0201
 
@{
    ViewData["Title"] = "Create";
}

<h1>Tạo Mới</h1>

<h4>NTA0201</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NVCID" class="control-label"></label>
                <input asp-for="NVCID" class="form-control" />
                <span asp-validation-for="NVCID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NVCName" class="control-label"></label>
                <input asp-for="NVCName" class="form-control" />
                <span asp-validation-for="NVCName" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="NVCGender" /> @Html.DisplayNameFor(model => model.NVCGender)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Tạo" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Trở lại Danh Sách</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}