@model NguyenTuanAnh2022201.NTA0201

@{
    ViewData["Title"] = "Delete";
}

<h1>Xóa</h1>

<h3>Bạn có chắc muốn xóa không?</h3>
<div>
    <h4>NTA0201</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NVCName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NVCName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NVCGender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NVCGender)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="NVCID" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index">Trở lại Danh Sách</a>
    </form>
</div>